.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #545454;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  background-color: #A44B73;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.2s ease;
  width: 15rem;
}